.procard_g_wrap {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
}
.procard_title {
  box-sizing: border-box;
  padding: 20px;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #312055;
  line-height: 25px;
  border-bottom: 1px solid #ededed;
}
.procard_content {
  padding: 15px 20px 30px;
}
