@import 'Src/global.scss';
.modal_wrap {
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.content_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #ffffff;
  border-radius: 5px;
  .promodal_btn_width_g{
    min-width: 120px;
    margin: 0 10px;
  }
}

$title_padding: 20px;
.modal_title_wrap {
  text-align: center;
  position: relative;
  padding: 20px 20px 0 20px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #312055;
  line-height: 28px;
}

.modaltitle_close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  @include setImg('../../../public/assets/images/modalclose.png', 14px, 14px);
}
.m_footer_wrap_g {
  @extend .cc;
  padding: $title_padding;
}
