@import 'Src/global.scss';

.layout_bg {
  box-sizing: border-box;
  background: #f7f6fd;
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer_height;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: $header_height;
}
