$font_c: #fff;
$active: rgb(107, 4, 98);
$pc_width: 1280px;
$pc_min_width: 900px;
$footer_height: 191px;
$header_height: 80px;
.btn {
  background: #5341b0;
  border-radius: 20px;
  text-align: center;
  color: $font_c;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 20px;
}
.minor_btn {
  border-radius: 20px;
  border: 1px solid #5341b0;
  text-align: center;
  cursor: pointer;
  padding: 9px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #5341b0;
  line-height: 20px;
}

@mixin setImg($url, $width, $height) {
  width: $width;
  height: $height;
  // background: rgba(213, 206, 230, 0.5);
  background: url($url) no-repeat center center;
  background-size: 100% auto;
  image-rendering: -moz-crisp-edges;
  @extend .img_clear;
}
.img_clear {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-font-smooting: antialiased;
}

@mixin flexd($j, $a) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

.cc {
  @include flexd(center, center);
}
.ct {
  @include flexd(center, flex-start);
}
.lc {
  @include flexd(flex-start, center);
}
.sc {
  @include flexd(space-between, center);
}
.st {
  @include flexd(space-between, flex-start);
}
.lt {
  @include flexd(flex-start, flex-start);
}
.rc {
  @include flexd(flex-end, center);
}
.srt {
  @include flexd(space-around, flex-start);
}

.pc_wrap_width {
  width: $pc_width;
}

@media screen and (max-width: $pc_width) {
  .pc_wrap_width {
    width: 100%;
  }
}

@media screen and (max-width: $pc_min_width) {
  .pc_wrap_width {
    width: $pc_min_width;
  }
  // .pc_wrap_max {
  //   width: $pc_min_width;
  // }
}

.error_massage_form {
  //   position: absolute;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgb(255, 72, 0);
  line-height: 22px;
  // text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
